@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  background-color: #111111;
  overflow-x: hidden;
}

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.header__inner {
  width: 100%;
  height: 100%;
  padding-left: 24px;
  position: relative;
  display: flex;
  align-items: center;
}

.header__inner a.logo {
  display: inline-block;
  width: 160px;
  height: 23px;
  background: url(./imgs/logo.svg) no-repeat center center / contain;
}

#gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#gnb > li > a {
  color: #fff;
  font-size: 16px;
  padding: 0 28px;
  font-weight: 700;
} 

/* main */
section.first_section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh
}

.main-img__wrapper {
  text-align: center;
}

.intro-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: auto;
  margin: 54px auto 0px;
  gap: 20px;
  font-size: 52px;
  font-weight: 600;
}

.intro-main p {
  text-align: center;
  line-height: 68px;
}

.join-us-text {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  opacity: .6;
}

.down-arrow-icon {
  width: 33px;
  animation: upAndDown 1s infinite;
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.list-item-wrapper {
  margin: 0 auto 300px;
  width: 383px;
}

.list-item {
  display: inline;
  font-size: 48px;
  font-weight: 600;
}

.list-item::before {
  display: inline-block;
  background-image: url('./imgs/icons/dark_house.png');
  background-size: 51px 53px;
  content: "";
  width: 51px;
  height: 53px;
}

.list-item.on {
  color: white;
}

.list-item.on::before {
  background-image: url('./imgs/icons/light_house.png');
}

section.panel1-img {
  position: relative;
  height: 320px;
  margin-bottom: 120px;
}

#flying_santa {
  position: absolute;
  height: 325px;
  right: 0;
  top: 0;
  transform: translate(80px, -13px) rotate(23deg);
}

#flying_santa img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}